# Ansible settings when running from automation-home root (e.g. pre-commit ansible-lint).
[defaults]
roles_path = automation-whitepaper/examples/light-dev-packages/roles:automation-whitepaper/examples/standard-rsyslog-forwarding/roles
host_key_checking = False
